.banner {
  margin-top: -87px;
  margin-bottom: 120px;
  padding-top: 187px;
  padding-bottom: 100px;
  background-color: var(--violet-2);
  color: var(--neutrals-12);
  overflow: hidden;
  @include w1200 {
    margin-bottom: 120px;
    padding-bottom: 79px;
  }
  @include w1023 {
    margin-top: -61px;
    margin-bottom: 80px;
    padding-top: 141px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include w1200 {
      display: block;
    }
  }
  &__col {
    flex: 0 0 580px;
    @include w1366 {
      flex: 0 0 calc(100% - 590px);
    }
    @include w1200 {
      flex: auto;
      width: 570px;
      margin-bottom: 50px;
    }
    @include w1023 {
      width: 445px;
    }
    @include w767 {
      width: auto;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 58px;
    line-height: 70px;
    text-transform: uppercase;
    @include w1366 {
      font-size: 49px;
      line-height: 63px;
    }
    @include w1023 {
      margin-bottom: 10px;
      font-size: 40px;
      line-height: 55px;
    }
    @include w359 {
      font-size: 28px;
      line-height: 38px;
    }
  }
  &__text {
    margin-bottom: 83px;
    font-size: 18px;
    line-height: 25px;
    @include w1200 {
      margin-bottom: 30px;
    }
    @include w1023 {
      font-size: 14px;
      line-height: 19px;
    }
  }
  &__btns {
    display: flex;
    @include w767 {
      display: block;
    }
  }
  &__btn {
    padding: 10px 26px;
    @include w1023 {
      padding: 10px 28.5px;
    }
    @include w767 {
      width: 100%;
    }
    &:not(:last-child) {
      margin-right: 15px;
      @include w767 {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
    &.primary-btn {
      background: var(--neutrals-12);
      border-color: var(--neutrals-12);
      color: var(--violet-2);
      @include hover {
        &:hover,
        &:focus {
          background: var(--mint);
          border-color: var(--mint);
          color: var(--violet-1);
        }
        &:active {
          transform: translate3d(0, 2px, 0) scale(0.95);
        }
      }
      @include active {
        &:active {
          background: var(--mint);
          border-color: var(--mint);
          color: var(--violet-1);
          transform: translate3d(0, 2px, 0) scale(0.95);
        }
      }
    }
    &.secondary-btn {
      border-color: var(--neutrals-12);
      color: var(--neutrals-12);
      @include hover {
        &:hover,
        &:focus {
          background: var(--violet-3);
        }
        &:active {
          transform: translate3d(0, 2px, 0) scale(0.95);
        }
      }
      @include active {
        &:active {
          background: var(--violet-3);
          transform: translate3d(0, 2px, 0) scale(0.95);
        }
      }
    }
  }
  &__card {
    flex: 0 0 550px;
    @include w1200 {
      flex: auto;
    }
    @include w767 {
      position: relative;
    }
  }
  &-card {
    &__title {
      position: relative;
      z-index: 2;
      padding: 18px 30px;
      background-color: var(--neutrals-12);
      border-radius: 7px 7px 0px 0px;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: var(--violet-2);
      @include w1023 {
        padding: 14px 30px;
        font-size: 16px;
        line-height: 22px;
        background-color: var(--violet-3);
        color: var(--neutrals-12);
      }
    }
    &__content {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 15px));
      grid-gap: 30px;
      padding: 30px;
      background-color: var(--violet-2);
      box-shadow: var(--on-violet-shadow);
      border-radius: 0px 0px 7px 7px;
      @include w1023 {
        grid-template-columns: repeat(2, calc(50% - 12px));
        grid-gap: 24px;
      }
      @include w767 {
        grid-template-columns: auto;
        grid-gap: 15px;
      }
    }
    &__col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:last-child {
        .banner-card__row {
          padding-bottom: 0;
          border: none;
          @include w767 {
            margin-bottom: 9px;
            padding-top: 15px;
            border-top: 1px solid var(--violet-3);
          }
        }
      }
    }
    &__row {
      display: flex;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--violet-3);
        @include w1023 {
          margin-bottom: 15px;
          padding-bottom: 15px;
        }
      }
    }
    &__subtitle {
      margin-right: 15px;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      @include w1023 {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__value {
      font-size: 18px;
      line-height: 25px;
      @include w1023 {
        font-size: 16px;
        line-height: 22px;
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    &__hint {
      position: relative;
      display: flex;
      @include w767 {
        position: static;
      }
    }
    &-hint {
      &__icon {
        width: 25px;
        height: 25px;
        padding: 0;
        background: url('../images/icon-hint.svg') center/contain no-repeat;
        border: none;
        &:hover,
        &:focus {
          & + .banner-card-hint__content {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
              visibility 0s 0s;
          }
        }
      }
      &__content {
        position: absolute;
        z-index: 2;
        bottom: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        max-width: 338px;
        padding: 6px 12px;
        background: var(--neutrals-12);
        border-radius: 7px;
        box-shadow: var(--on-violet-dark-shadow);
        font-size: 14px;
        line-height: 19px;
        color: var(--neutrals-1);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
          visibility 0s 0.3s;
        @include w767 {
          bottom: auto;
          transform: translate(-50%, 30px);
          max-width: calc(100vw - 48px);
        }
      }
    }
    &__map {
      width: 100%;
      flex: 1;
      border-radius: 7px;
      overflow: hidden;
      @include w767 {
        flex: auto;
        height: 166px;
      }
      [class*='ymaps-2'][class*='-copyrights-pane'],
      [class*='ymaps-2'][class*='-controls__toolbar'],
      [class*='ymaps-2'][class*='-controls__bottom'] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        border: 0;
        clip: rect(0 0 0 0);
      }
      [class*='ymaps-2'][class*='-ground-pane'] {
        filter: contrast(90%);
      }
    }
  }
}
