.popup#success(style="display: none")
  .popup__overlay
  .popup__content
    button.popup__close
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    h3.popup__title Готово!
    .form
      p.form__hint Регистрация прошла успешно, вы можете войти в свой аккаунт!
      button.primary-btn.form__btn Продолжить


