.popup#code(style="display: none")
  .popup__overlay
  .popup__content
    button.popup__close
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    h3.popup__title Регистрация
    form.form(action="#")
      .form__block
        input.form__input(type="text" placeholder="Код из СМС")
      p.form__hint Введите код отправленнный на ваш номер телефона
      p.form__hint.form__hint--disable Отправить новый код можно через 00:35
      p.form__hint
        a(href="#") Отправить новый код
      button.primary-btn.form__btn Подтвердить регистрацию


