.popup#lk-token(style="display: none")
  .popup__overlay
  .popup__content
    button.popup__close
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#BFBFBF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    h3.popup__title Скопируйте токен
    form.form(action="#")
      .popup-lk__rights.popup-lk-rights
        span.popup-lk-rights__title Права доступа по токену
        ul.popup-lk-rights__list
          li.popup-lk-rights__item
            label
              input.visually-hidden(type="radio" name="rights" value="Администратор" checked)
              span Администратор
          li.popup-lk-rights__item
            label
              input.visually-hidden(type="radio" name="rights" value="Редактор")
              span Редактор
          li.popup-lk-rights__item
            label
              input.visually-hidden(type="radio" name="rights" value="Гость")
              span Гость
      .form__block
        input.form__input(type="text" disabled value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9eyJydWeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJydW")
      button.primary-btn.form__btn Копировать


