extends ../template

block variables
  - var title = 'Главная'
  - var breadcrumbs = 0

block content
  section.banner 
    .container.banner__container
      .banner__col
        h1.banner__title Сейчас ваши данные открыты
        p.banner__text Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности собой интересный эксперимент проверки систем
        .banner__btns
          button.secondary-btn.banner__btn Зарегистрироваться
          button.primary-btn.banner__btn Скачать приложение
      .banner__card.banner-card
        .banner-card__title Your Current Visit
        .banner-card__content
          .banner-card__col 
            .banner-card__row
              span.banner-card__subtitle Headless Browser
              span.banner-card__value No
            .banner-card__row
              span.banner-card__subtitle IP
              span.banner-card__value 188.242.79.173
            .banner-card__row
              span.banner-card__subtitle Incognito
              span.banner-card__value No
              .banner-card__hint.banner-card-hint
                button.banner-card-hint__icon 
                p.banner-card-hint__content Разнообразный и богатый опыт рамки место обучения кадров способствует подготовки интересный эксперимент проверки
            .banner-card__row
              span.banner-card__subtitle Browser
              span.banner-card__value Chrome on Mac OS X (10.15.7)
          .banner-card__col
            .banner-card__row
              span.banner-card__subtitle Location
              .banner-card__hint.banner-card-hint
                button.banner-card-hint__icon 
                p.banner-card-hint__content Активности собой интересный эксперимент
            .banner-card__map 
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A94c2e425b9f6fbfeb768d4c23d72267d20ddd9e297ae0b866cf1f03d4c2290d5&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>

  section.about
    ul.container.about__row
      li.about__item.about-item
        .about-item__icon(style="background-image: url('images/icon-about-1.png')")
        .about-item__info
          h3.about-item__title Без нашего приложения
          p.about-item__text Приходится использовать несколько физических устройств, которым нужен постоянный уход
      li.about__item.about-item
        .about-item__icon(style="background-image: url('images/icon-about-2.png')")
        .about-item__info
          h3.about-item__title С нашим приложением
          p.about-item__text Вы получаете неограниченное колличество симуляций физических устройств
          
    .about__main.margin-section
      .container.about__content
        .about__col
          picture
            source(type="image/webp" srcset="images/documentation-text.jpg")
            img.about__img1(src="images/documentation-text.jpg" alt="О приложении")
          video.about__img2(src="images/video.mp4" alt="О приложении" autoplay="" loop="" height="255")
          //- picture
          //-   source(type="image/webp" srcset="images/about-screen2.png")
          //-   img.about__img2(src="images/about-screen2.png" alt="О приложении")
        .about__col
          h2.title.about__title О приложении
          p.about__text С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения правил существенных финансовых. Административных условий реализация намеченных плановых заданий представляет собой интересный эксперимент
          button.about__btn
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.9999 20.1663C16.0625 20.1663 20.1666 16.0623 20.1666 10.9997C20.1666 5.93706 16.0625 1.83301 10.9999 1.83301C5.93731 1.83301 1.83325 5.93706 1.83325 10.9997C1.83325 16.0623 5.93731 20.1663 10.9999 20.1663Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9.16675 7.33301L14.6667 10.9997L9.16675 14.6663V7.33301Z" stroke="#5B72F2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            | Смотреть видео-обзор
  
  section.features.margin-section
    .container
      h2.title.features__title Возможности приложения
      ul.features__list
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-1.png')")
          h3.features-item__title Равным образом повседневной работы
          p.features-item__text Равным образом структура организации требуют определения
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-2.png')")
          h3.features-item__title Важные задания по разработке
          p.features-item__text Также дальнейшее развитие различных форм подготовки деятельности способствует
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-3.png')")
          h3.features-item__title С другой стороны укрепление и развитие
          p.features-item__text Реализация намеченных плановых заданий представляет плановых
        li.features__item.features-item
          .features-item__icon(style="background-image: url('images/icon-features-4.png')")
          h3.features-item__title Таким образом реализация плановых
          p.features-item__text Задача организации особенности же постоянное

  section.tariffs
    .container
      h2.title Цены и тарифы
      .tariffs__wrap.margin-section
        .swiper-button-prev
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 12H5" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 19L5 12L12 5" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .swiper-button-next
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 12H19" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 5L19 12L12 19" stroke="#454545" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        .swiper-container.tariffs__slider
          ul.swiper-wrapper.tariffs__wrapper
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title Кастомный тариф
              .tariffs-slide__content
                .tariffs-slide__constructor.tariffs-slide-constructor
                  .tariffs-slide-constructor__icon
                  p.tariffs-slide-constructor__text Соберите свой тариф самостоятельно
                button.secondary-btn.tariffs-slide__btn Связаться с нами
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 10 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 10$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 20 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 20$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 30 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 30$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
            li.swiper-slide.tariffs__slide.tariffs-slide
              p.tariffs-slide__title 40 профилей
              .tariffs-slide__content
                ul.tariffs-slide__list
                  li.tariffs-slide__item(data-ok="ok") Сфера нашей активности требуют от нас анализа заданий
                  li.tariffs-slide__item(data-ok="ok") Реализация намеченных плановых заданий представляет
                  li.tariffs-slide__item(data-ok="notok") Разнообразный и богатый опыт
                  li.tariffs-slide__item(data-ok="notok") Реализация намеченных плановых заданий представляет
                .tariffs-slide__price 40$
                  span /мес
                button.secondary-btn.tariffs-slide__btn Купить
        
