@font-face {
  font-family: 'Lato';
  src: url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/latoregular.woff2') format('woff2'),
    url('../fonts/latoregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
